<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhengzhou.individual.catsDj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="zhengzhou.individual.catsDj.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_cat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InterviewMain">
        <activity android:name="zhengzhou.individual.catsDj.SplashActivity" android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="zhengzhou.individual.catsDj.musicdetails.MusicDetailsActivity"/>
        <activity android:name="zhengzhou.individual.catsDj.loadingTasks.LoadingActivity" />
        <activity android:name="zhengzhou.individual.catsDj.MainActivity"/>
        <activity android:name="zhengzhou.individual.catsDj.details.DetailsActivity" />
        <activity android:name="zhengzhou.individual.catsDj.musticdetailsbackground.MusicDetailsBackgroundActivity" />
        <service android:name="zhengzhou.individual.catsDj.musicdetails.MusicService" />
        <service android:name="zhengzhou.individual.catsDj.service.BaseService" />
    </application>

</manifest>